<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    @* Original Drop down
        -----------------------------------------------------------------------------------------------------
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Ultimate Connect Four", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("How To Play", "HowToPlay", "Home")</li>
                        <li>@Html.ActionLink("Credits", "Credits", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        -------------------------------------------------------------------------------------------------
        Current Dropdown*@
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ultimate Connect Four
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="~/Home/Index">Home</a>
                        <a class="dropdown-item" style="font-weight: bold" href="~/">Play!</a>
                        <a class="dropdown-item" href="~/Home/HowToPlay">How to Play</a>
                        <a class="dropdown-item" href="~/Home/Credits">Credits</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>


    @*-----------------------------------------------------------------------------------------------------*@
    <hr style="text-align:left;margin-left:0; border-color: black">

    <div class="container body-content">
        @RenderBody()
        <hr style="text-align:left;margin-left:0; border-color: black">
        <footer>

            <p>&copy; @DateTime.Now.Year - UltimateConnectFour.com</p>
        </footer>
    </div>

<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>


</body>

</html>
